Package: com.wilsonthewolf.timejump
Name: TimeJump
Version: 0.0.3
Architecture: iphoneos-arm
Description: Jump Time.
Maintainer: WilsontheWolf
Author: WilsontheWolf
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader (>= 2.2.3)
Icon: https://repo.shorty.systems/icons/com.wilsonthewolf.timejump.png
Depiction: https://repo.shorty.systems/depictions/web/com.wilsonthewolf.timejump
SileoDepiction: https://repo.shorty.systems/depictions/sileo/com.wilsonthewolf.timejump